{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}

{% block after_field_sets %}
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $(':radio[name="file_type"]').click(function () {
                const file_type = $(this).val()
                if (file_type === 'ixf'){
                    $('#id_separator').attr('readonly', true);
                    $('#id_delimiter').attr('readonly', true);
                }
                else {
                    $('#id_separator').attr('readonly', false);
                    $('#id_delimiter').attr('readonly', false);
                }
            })
        })
    </script>
{% endblock %}