{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}

{% block after_field_sets %}
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('#id_ftp_file').attr('readonly', true);
            $(':radio[name="exp_method"]').click(function () {
                const exp_method = $(this).val()
                if (exp_method === 'ftp'){
                    $('#id_ftp_file').attr('readonly', false);
                }
                else {
                    $('#id_ftp_file').attr('readonly', true);
                }
            })
            $(':radio[name="zl_info"]').click(function () {
                const zl_info = $(this).val()
                if (zl_info === 'Z'){
                    $('#id_zl_col').attr('readonly', false);
                }
                else if (zl_info === 'Q'){
                    $('#id_zl_col').attr('readonly', true);
                }
            })
        })
    </script>
{% endblock %}