# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/desire.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
venv/
/apps/datacloud/migrations/
/db.sqlite3
/apps/infocenter/migrations/
.idea/sqldialects.xml
.idea/vcs.xml
.idea/workspace.xml
apps/datacloud/__pycache__/
apps/datacloud/interface/__pycache__/
apps/infocenter/__pycache__/
desire/__pycache__/
